<%namespace name='static' file='../static_content.html'/>
<%!
from microsite_configuration import microsite
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from courseware.courses import course_image_url, get_course_about_section
from django.conf import settings
from edxmako.shortcuts import marketing_link
%>

<%inherit file="../main.html" />
<%block name="headextra">

  <%
    if self.theme_enabled():
      google_analytics_file = u'../{ga}'.format(
        ga=microsite.get_value('google_analytics_file', 'theme-google-analytics.html')
      )
    else:
      google_analytics_file = '../google_analytics.html'
  %>

  <%include file="${google_analytics_file}" />

  ## OG (Open Graph) title and description added below to give social media info to display
  ## (https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content#tags)
  <meta property="og:title" content="${get_course_about_section(course, 'title')}" />
  <meta property="og:description" content="${get_course_about_section(course, 'short_description')}" />
</%block>

<%block name="js_extra">

  <script type="text/javascript">
  (function() {
    $(".register").click(function(event) {
      $("#class_enroll_form").submit();
      event.preventDefault();
    });

    % if can_add_course_to_cart:
      add_course_complete_handler = function(jqXHR, textStatus) {
        if (jqXHR.status == 200) {
          location.href = "${cart_link}";
        }
        if (jqXHR.status == 400) {
          $("#register_error")
            .html(jqXHR.responseText ? jqXHR.responseText : "${_("An error occurred. Please try again later.")}")
            .css("display", "block");
        }
        else if (jqXHR.status == 403) {
            location.href = "${reg_then_add_to_cart_link}";
        }
      };
      $("#add_to_cart_post").click(function(event){
        $.ajax({
          url: "${reverse('add_course_to_cart', args=[course.id.to_deprecated_string()])}",
          type: "POST",
          /* Rant: HAD TO USE COMPLETE B/C PROMISE.DONE FOR SOME REASON DOES NOT WORK ON THIS PAGE. */
          complete: add_course_complete_handler
        })
        event.preventDefault();
      });
    % endif

    ## making the conditional around this entire JS block for sanity
    %if settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
      <%
        perms_error = _('The currently logged-in user account does not have permission to enroll in this course. '
                        'You may need to {start_logout_tag}log out{end_tag} then try the register button again. '
                        'Please visit the {start_help_tag}help page{end_tag} for a possible solution.').format(
                          start_help_tag="<a href='{url}'>".format(url=marketing_link('FAQ')), end_tag='</a>',
                          start_logout_tag="<a href='{url}'>".format(url=reverse('logout'))
                          )
      %>
    $('#class_enroll_form').on('ajax:complete', function(event, xhr) {
      if(xhr.status == 200) {
        location.href = "${reverse('dashboard')}";
      } else if (xhr.status == 403) {
        location.href = "${reverse('course-specific-register', args=[course.id.to_deprecated_string()])}?course_id=${course.id | u}&enrollment_action=enroll";
      } else if (xhr.status == 400) { //This means the user did not have permission
        $('#register_error').html("${perms_error}").css("display", "block");
      } else {
        $('#register_error').html(
            (xhr.responseText ? xhr.responseText : "${_("An error occurred. Please try again later.")}")
        ).css("display", "block");
      }
    });

    %else:

    $('#class_enroll_form').on('ajax:complete', function(event, xhr) {
      if(xhr.status == 200) {
        if (xhr.responseText == "") {
          location.href = "${reverse('dashboard')}";
        }
        else {
          location.href = xhr.responseText;
        }
      } else if (xhr.status == 403) {
          location.href = "${reverse('register_user')}?course_id=${course.id | u}&enrollment_action=enroll";
      } else {
        $('#register_error').html(
            (xhr.responseText ? xhr.responseText : "${_("An error occurred. Please try again later.")}")
        ).css("display", "block");
      }
    });

    %endif

  })(this)
  </script>

  <script src="${static.url('js/course_info.js')}"></script>
  <link rel="stylesheet" href="/static/css/m2ly6jxt.css">
</%block>

<%block name="pagetitle">${get_course_about_section(course, "title")}</%block>

<section class="course-info">
  <!--<header class="course-profile">
    <div class="intro-inner-wrapper">
      <div class="table">
      <section class="intro">
        <hgroup>
          <h1>
            ${get_course_about_section(course, "title")}
            % if not self.theme_enabled():
              <a href="#">${get_course_about_section(course, "university")}</a>
            % endif
          </h1>
        </hgroup>

        <div class="main-cta">
        %if user.is_authenticated() and registered:
          %if show_courseware_link:
            <a href="${course_target}">
          %endif

          <span class="register disabled">${_("You are registered for this course")}</span>

          %if show_courseware_link:
            <strong>${_("View Courseware")}</strong>
            </a>
          %endif

        %elif in_cart:
          <span class="add-to-cart">
            ${_('This course is in your <a href="{cart_link}">cart</a>.').format(cart_link=cart_link)}
          </span>
        % elif is_course_full:
          <span class="register disabled">
            ${_("Course is full")}
          </span>
        % elif invitation_only and not can_enroll:
          <span class="register disabled">${_("Enrollment in this course is by invitation only")}</span>
        ## Shib courses need the enrollment button to be displayed even when can_enroll is False,
        ## because AnonymousUsers cause can_enroll for shib courses to be False, but we need them to be able to click
        ## so that they can register and become a real user that can enroll.
        % elif not is_shib_course and not can_enroll:
          <span class="register disabled">${_("Enrollment is Closed")}</span>
        %elif can_add_course_to_cart:
          <%
          if user.is_authenticated():
            reg_href = "#"
            reg_element_id = "add_to_cart_post"
          else:
            reg_href = reg_then_add_to_cart_link
            reg_element_id = "reg_then_add_to_cart"
          %>
          <a href="${reg_href}" class="add-to-cart" id="${reg_element_id}">
            ${_("Add {course_name} to Cart ({price})")\
              .format(course_name=course.display_number_with_default, price=course_price)}
          </a>
          <div id="register_error"></div>
        %else:
          <a href="#" class="register">
            ${_("Register for {course_name}").format(course_name=course.display_number_with_default) | h}
          </a>
          <div id="register_error"></div>
        %endif
        </div>

      </section>
      % if get_course_about_section(course, "video"):
      <a href="#video-modal" class="media" rel="leanModal">
        <div class="hero">
          <img src="${course_image_url(course)}" alt="" />
          <div class="play-intro"></div>
        </div>
      </a>
      %else:
      <div class="media">
        <div class="hero">
          <img src="${course_image_url(course)}" alt="" />
        </div>
      </div>
      % endif
    </div>
      </div>
  </header>
-->

  <section class="container">
  <section id="main-content">
    <section class="details">
      % if staff_access and studio_url is not None:
        <div class="wrap-instructor-info studio-view">
          <a class="instructor-info-action" href="${studio_url}">${_("View About Page in studio")}</a>
        </div>
      % endif
<!--
      <nav aria-label="${_('Course About')}">
        <a href="#" class="active">${_("Overview")}</a>
      ##  <a href="#">${_("FAQ")}</a>
      ##  <a href="#">${_("Requirements")}</a>
      ##  <a href="#">${_("Text-book")}</a>
      ##  <a href="#">${_("Syllabus")}</a>
      ##  <a href="#">${_("Reviews")}</a>
      </nav>
-->
      <div class="inner-wrapper">
        <!--${get_course_about_section(course, "overview")}-->

			<div class="region-container-inner">
				<div class="course-detail-image">
					<img typeof="foaf:Image" class="image-style-none" src="/static/images/ximg/banner01.jpg" width="608" height="211" alt="Inclusive Leadership Training: Becoming a Successful Leader" title="Inclusive Leadership Training: Becoming a Successful Leader" />
				</div>

				<div class="course-section views-fieldset" data-module="views_fieldsets">
					<h1 class="course-detail-title">스타트업을 위한 플랫폼 비즈니스 모델 기획</h1>
					<div class="course-detail-subtitle copy-lead">스타트업을 위한 플랫폼 비즈니스 모델기획은 어떻게 진행하는지 본 교육과정을 통해 자세히 알아갈 수 있습니다.</div>  
				</div>
				<div class="course-detail-register mobile-only">
					<div class="view view-course-detail view-id-course_detail view-display-id-footer view-dom-id-3db8d2b7dfaf48f72af646e842866112">
						<div class="view-content">
							<div>
								<div class="course-detail-register"><iframe src="https://courses.edx.org/mktg/CatalystX/ILX1/2015_T1?org=Catalyst" class="iframe iframe-register"></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>  
				<div class="course-section course-detail-about">
					<h3 class="course01">강좌 소개</h3>
					<div>
						<span itemprop="description">스타트업이란 무엇일까요? 콜롬비아 대학교에서 고객 개발과 기업가 정신을 가르치고 있는 스티븐 게리 블랭크(Steve Blank)교수는 그의 저서 “깨달음에 이르는 4단계”와 “The Startup Owner’s Manual”을 통해, ”스타트업이란 대기업의 미니버전 같은게 아니다. 스타트업이란: 확장(Scalable) 가능한, 반복(Repeatable) 가능한, 수익성이(Profitable) 있는 비즈니스모델을 찾는 목표를 가진 임시 조직이라고 정의를 하고 있습니다. <br />(Startup is a temporary organisation designed to search for a repeatable and scalable business model) 본 강좌에서는 한국의 스타트업을 꿈꾸는 많은이들에게 어떠한 방식으로 플랫폼 비즈니스 모델을 기획하는지에 대한 강의를 4주 동안 10개의 강의로 진행을 할 예정입니다.</span>
					</div>
				</div>

				<div class="course-detail-enrollment views-fieldset" data-module="views_fieldsets">
					<h3 class="course-how-take-title">수강 신청 방법</h3>
					<div class="course-how-take-block course-how-take-verified">
						<h3 class="copy-lead">공식 수료증</h3>
						<div class="course-how-take-block-content">
							<p>스타트업을 위한 플랫폼 비즈니스 모델 기획 교육과정에 대해 동영상 강의 및 강의자료, 테스트, 오프라인 강의 및 워크샵에 참가하실 수 있습니다.</p>
							<p class="info">* 위 교육과정을 성공적으로 이수하면, AcademyX 계정 생성 시, 등록한 이메일 주소로  공식수료증을 보내드립니다.</p>
						</div>
						<div class="course-how-take-block-footer copy-meta">
							<p class="course-take-audit-cost">수강료 : 100,000원</p>
							<p class="course-take-audit-more"><a href="/verified-certificate">공식 수료증에 대한 안내</a></p>
						</div>
					</div>
					<div class="course-how-take-or"><span>or</span></div>
					<div class="course-how-take-block course-how-take-honor">
						<h3 class="copy-lead">수강 확인증</h3>
						<div class="course-how-take-block-content">
							<p>스타트업을 위한 플랫폼 비즈니스 모델 기획 교육과정에 대해 동영상 강의 및 강의자료, 테스트를 받을 수 있습니다. </p>
							<p class="info">* 위 교육과정을 성공적으로 마친다면, AcademyX 계정 생성 시, 등록한 이메일 주소로 수강확인증을 보내드립니다.</p>
						</div>
						<div class="course-how-take-block-footer copy-meta">
							<p class="course-take-audit-cost">수강료 : 무료</p>
							<p class="course-take-audit-more"><a href="/student-faq#certificates">수강 확인증에 대한 안내</a></p>
						</div>
					</div>
					<div class="course-section course-detail-staff">
						<div class="view-header">
							<h3 class="course03">강의교수</h3>
						</div>
						<div class="view-content">
							<ul class="staff-list">
								<li class="staff-row">  
									<div class="course-staff-image views-fieldset" data-module="views_fieldsets">
										<div class="staff-image"><img typeof="foaf:Image" class="image-style-none" src="/static/images/ximg/img_staff01.jpg" width="110" height="110" alt="Deepali Bagati, PhD" /></div>  
									</div>
									<div class="course-staff-info views-fieldset" data-module="views_fieldsets">
										<h4 class="staff-title">황병선 교수<span class="team">PAG&파트너스 대표</span></h4>
										<ul>
										<li>전 청강대 전임교수</li>
										<li>전 LG전자, LG CNS</li>
										<li>플랫폼, 생태계, BM</li>
										</ul>
										<div class="staff-resume">과거 에이전트리더에서 퍼스널에이전트, 원격교육솔루션으로,셀프TV라는 UGC 벤처를 창업. <br />현재 퓨처워커라는 필명으로 플랫폼&서비스전략 전문 블로그를 운영 중. 최근 KT 경제경영연구소와 함께<br />“애프터스마트”라는 저서를 출간. 2012년 2월부터는 대통령자문기관인 “국가정보화전략위”에서 전문위원으로 활동 <br />.2013년 7월까지 청강문화산업대 모바일스쿨 스마트폰 대표교수로 근무 후 현재의 KAIST S/W대학원에서 대우교수로 재직 중.</div>  
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="course-section">
						<div class="view-content">
							<div>
								<a name="prerequisites"></a>
								<div class="course-section course-detail-prerequisites-full">
								<h3 class="course04">수강에 필요한 학습</h3>
									<p>기본적인 통계 과목 학습이 필요합니다.</p>
								</div>  
							</div>
						</div>
					</div>
					<div class="view view-course-detail view-id-course_detail view-display-id-footer view-dom-id-c2a4d1cbf2aecf839b86406091e12e17">
						<div class="view-content">
							<div>
								<div class="course-detail-register">
									<!--<iframe src="course_sub_btn.html" class="iframe iframe-register"></iframe>-->
									<a class="action access-courseware" href="/courses/CatalystX/ILX1/2015_T1/info" target="_top">수강 신청</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
      </div>
    </section>

    <section class="course-sidebar">
	  <section class="course-summary">
	  <!--
        <header>
          % if microsite.get_value('course_about_show_social_links', True):
          <div class="social-sharing">
            <div class="sharing-message">${_("Share with friends and family!")}</div>
            ## TODO: this should probably be an overrideable block,
            ##       or something allowing themes to do whatever they
            ##       want here (and on this whole page, really).
            % if self.stanford_theme_enabled():
              <a href="http://twitter.com/intent/tweet?text=I+just+registered+for+${course.number}+${get_course_about_section(course, 'title')}!+(http://class.stanford.edu)" class="share">
                <i class="icon fa fa-twitter"></i><span class="sr">${_("Tweet that you've registered for this course")}</span>
              </a>
              <a href="mailto:?subject=Take%20a%20course%20at%20Stanford%20online!&body=I%20just%20registered%20for%20${course.number}%20${get_course_about_section(course, 'title')}+(http://class.stanford.edu)" class="share">
                <i class="icon fa fa-envelope"></i><span class="sr">${_("Email someone to say you've registered for this course")}</span>
              </a>
            % else:
              <%
                site_domain = microsite.get_value('site_domain', settings.SITE_NAME)
                platform_name = microsite.get_value('platform_name', settings.PLATFORM_NAME)

                # Translators: This text will be automatically posted to the student's
                # Twitter account. {url} should appear at the end of the text.
                tweet_text = _("I just registered for {number} {title} through {account}: {url}").format(
                    number=course.number,
                    title=get_course_about_section(course, 'title'),
                    account=microsite.get_value('course_about_twitter_account', settings.PLATFORM_TWITTER_ACCOUNT),
                    url=u"http://{domain}{path}".format(
                        domain=site_domain,
                        path=reverse('about_course', args=[course.id.to_deprecated_string()])
                    )
                ).replace(u" ", u"+")
                tweet_action = u"http://twitter.com/intent/tweet?text={tweet_text}".format(tweet_text=tweet_text)

                facebook_link = microsite.get_value('course_about_facebook_link', settings.PLATFORM_FACEBOOK_ACCOUNT)

                email_subject = u"mailto:?subject={subject}&body={body}".format(
                    subject=_("Take a course with {platform} online").format(platform=platform_name),
                    body=_("I just registered for {number} {title} through {platform} {url}").format(
                        number=course.number,
                        title=get_course_about_section(course, 'title'),
                        platform=platform_name,
                        url=u"http://{domain}{path}".format(
                            domain=site_domain,
                            path=reverse('about_course', args=[course.id.to_deprecated_string()]),
                        )
                    )
                ).replace(u" ", u"%20")
              %>
              <a href="${tweet_action}" class="share">
                <i class="icon fa fa-twitter"></i><span class="sr">${_("Tweet that you've registered for this course")}</span>
              </a>
              <a href="${facebook_link}" class="share">
                <i class="icon fa fa-thumbs-up"></i><span class="sr">${_("Post a Facebook message to say you've registered for this course")}</span>
              </a>
              <a href="${email_subject}" class="share">
                <i class="icon fa fa-envelope"></i><span class="sr">${_("Email someone to say you've registered for this course")}</span>
              </a>
            % endif
          </div>
          % endif
        </header>
		-->
		<div class="course-detail-video">
			<a href="http://www.youtube.com/watch?v=a3TxshdwpzI" class="video-modal-link" data-video="a3TxshdwpzI">
				<div class="playvideo"></div>
				<div class="description">Watch the Course Intro Video</div>
				<img typeof="foaf:Image" class="image-style-none" src="/static/images/ximg/video01.jpg" width="320" height="211" alt="Inclusive Leadership Training: Becoming a Successful Leader" />
			</a>
			<div id="schema-videoobject" class="video-inline">
				<div id="video-player" data-video="a3TxshdwpzI"></div>
			</div>
		</div>
		<div class="course-detail-overview views-fieldset" data-module="views_fieldsets">
			<div class="copy-detail course-detail-info views-fieldset" data-module="views_fieldsets">
				<div class="course-detail-school item">
					<span class="label">소속기관 </span>
					<a href="/school/catalystx">PAG&파트너스</a>
				</div>
				<div class="course-detail-number item">
					<span class="label">강의교수 </span>황병선
				</div>
				<div class="course-detail-start item">
					<span class="label">개강일 </span>2015-01-21
				</div>
				<div class="course-detail-length item">
					<span class="label">수강신청 </span>2015-01-21 ~ 2015-02-01
				</div>
				<div class="course-detail-effort item"><span class="label">학습기간 </span>4주
				</div>  
			</div>
			<div class="copy-detail course-detail-prerequisites views-fieldset" data-module="views_fieldsets">
				<h3>수강에 필요한 학습 </h3>
				<p>기본적인 통계 과목 학습이 필요합니다. 기본적인 통계 과목 학습이 필요합니다.</p>
			</div>
			<div class="hide-phone">
				<div class="view view-course-detail view-id-course_detail view-display-id-footer view-dom-id-c8a6a879378dfc581a3c7d38e1bfc109">
					<div class="view-content">
						<div>
							<div class="course-detail-register">
								<!--<iframe src="course_sub_btn.html" class="iframe iframe-register"></iframe>-->
								<a class="action access-courseware" href="/courses/CatalystX/ILX1/2015_T1/info" target="_top">수강 신청</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="course-detail-social views-fieldset" data-module="views_fieldsets">
				<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
					<div>
					<a class="addthis_button_facebook at300b" title="Facebook" href="#"><span class="at4-icon aticon-facebook" style="background-color: rgb(48, 88, 145);"><span class="at_a11y">Share on facebook</span></span></a>
					<a class="addthis_button_twitter at300b" title="Tweet" href="#"><span class="at4-icon aticon-twitter" style="background-color: rgb(44, 168, 210);"><span class="at_a11y">Share on twitter</span></span></a>
					<a class="addthis_button_google_plusone_share at300b" href="https://www.addthis.com/bookmark.php?v=300&amp;winname=addthis&amp;pub=ra-532208d8373cadff&amp;source=tbx32-300&amp;lng=ko&amp;s=google_plusone_share&amp;url=https%3A%2F%2Fwww.edx.org%2Fcourse%2Finclusive-leadership-training-becoming-catalystx-ilx1&amp;title=Leadership%20Training%3A%20Becoming%20a%20Successful%20Leader%20%7C%20edX&amp;ate=AT-ra-532208d8373cadff/-/-/55063059a9c034cc/3&amp;frommenu=1&amp;uid=55063059623eec58&amp;ct=1&amp;rsi=55062f638ee471bf&amp;gen=4&amp;pre=http%3A%2F%2F211.214.182.188%3A8880%2F&amp;tt=0&amp;captcha_provider=nucaptcha" target="_blank" title="Google+"><span class="at4-icon aticon-google_plusone_share" style="background-color: rgb(206, 77, 57);"><span class="at_a11y">Share on google_plusone_share</span></span></a>
					<a class="addthis_button_youtube at300m" href="#"><span class="at4-icon aticon-compact" style="background-color: rgb(252, 109, 76);"><span class="at_a11y">Share on youtube</span></span></a>
					</div>
				</div>
				<!--수강생 한줄평-->
				<div>
					<!--<iframe src="reviews.html" id="ct_widget_iframe" class="ct-iframe" style="display: block; height: 610px;" scrolling="no"></iframe>-->
					<div id="widget-preview" data-course-id="36301">
						<div id="ct-widget-container" class="ct-widget-container">
							<div class="ct-widget">
								<div class="ct-widget__header">
									<h2 class="ct-widget__header__title">수강생 한줄평</h2>
									<div class="ct-widget__header__rating ct-widget__header__rating--wrap">
										<!--<span class="ct-rating-stars ct-rating-stars--s9"></span>-->
										<span class="ct-widget__header__rating__label">총 <span>51</span>개의 과목 한줄평</span>
									</div>
									<div class="clearfix"></div>
									<div class="ct-widget__body__actions">
										<button class="ct-widget__button__write-review ct-widget__button__write-review--full">
											과목 한줄평 등록
										</button>
									</div>
									<div class="review_write">
										<div><span class="ct-widget__review__header__rating"><span class="ct-rating-stars ct-rating-stars--s4"></span></span></div>
										<textarea class="wmd-input" id="wmd-input-comment-body-54eba33f2a472de316000bae" placeholder="100자 이내로 과목 한줄평을 작성해 주세요."></textarea>
										<div class="ct-widget__body__actions">
											<button class="ct-widget__button__write-review ct-widget__button__write-review--full">
												등록완료
											</button>
										</div>
									</div>
								</div>
								<div class="ct-widget__body">
									<div class="ct-widget__body__reviews">
										<div class="ct-widget__review">
											<div class="ct-widget__review__profile-img">
												<img src="/static/images/ximg/p_default_small.png" width="40px" height="40px">
											</div>
											<div class="ct-widget__review__container">
												<div class="ct-widget__review__header">
													<span class="ct-widget__review__header__profile"><span class="ct-widget__review__header__author-name">황혜미(Hwnag304****)</span></span>
													<span class="ct-widget__review__header__rating"><span class="ct-rating-stars ct-rating-stars--s4"></span></span>
												</div>
												<div class="ct-widget__review__body">
												강의 너무 좋아요~ 교수님 목소리도 좋고 어려워하던 부분인데 시간가는줄 모르고 들었습니다^^
												</div>
											</div>
										</div>
										<div class="ct-widget__review">
											<div class="ct-widget__review__profile-img">
												<img src="/static/images/ximg/p_default_small.png" width="40px" height="40px">
											</div>
											<div class="ct-widget__review__container">
												<div class="ct-widget__review__header">
													<span class="ct-widget__review__header__profile"><span class="ct-widget__review__header__author-name">황혜미(Hwnag304****)</span></span>
													<span class="ct-widget__review__header__rating"><span class="ct-rating-stars ct-rating-stars--s8"></span></span>
												</div>
												<div class="ct-widget__review__body">
												강의 너무 좋아요~ 교수님 목소리도 좋고 어려워하던 부분인데 시간가는줄 모르고 들었습니다^^
												</div>
											</div>
										</div>
										<div class="ct-widget__review">
											<div class="ct-widget__review__profile-img">
												<img src="/static/images/ximg/p_default_small.png" width="40px" height="40px">
											</div>
											<div class="ct-widget__review__container">
												<div class="ct-widget__review__header">
													<span class="ct-widget__review__header__profile"><span class="ct-widget__review__header__author-name">황혜미(Hwnag304****)</span></span>
													<span class="ct-widget__review__header__rating"><span class="ct-rating-stars ct-rating-stars--s7"></span></span>
												</div>
												<div class="ct-widget__review__body">
												강의 너무 좋아요~ 교수님 목소리도 좋고 어려워하던 부분인데 시간가는줄 모르고 들었습니다^^
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="ct-widget__more-reviews">
									<a class="ct-widget__more-reviews__link" href="https://www.coursetalk.com/providers/edx/courses/ilx1-inclusive-leadership-training-becoming-a-successful-leader-2#tab-reviews" target="_blank">
										<span>더보기</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--//수강생 한줄평-->
			</div>
		</div>

<!--
        <ol class="important-dates">
          <li class="important-dates-item"><i class="icon fa fa-info-sign"></i><p class="important-dates-item-title">${_("Course Number")}</p><span class="important-dates-item-text course-number">${course.display_number_with_default | h}</span></li>
          % if not course.start_date_is_still_default:
            <li class="important-dates-item"><i class="icon fa fa-calendar"></i><p class="important-dates-item-title">${_("Classes Start")}</p><span class="important-dates-item-text start-date">${course.start_datetime_text()}</span></li>
          % endif
            ## We plan to ditch end_date (which is not stored in course metadata),
            ## but for backwards compatibility, show about/end_date blob if it exists.
            % if get_course_about_section(course, "end_date") or course.end:
            <li class="important-dates-item">
                <i class="icon fa fa-calendar"></i>
                <p class="important-dates-item-title">${_("Classes End")}</p>
                <span class="important-dates-item-text final-date">
                    % if get_course_about_section(course, "end_date"):
                        ${get_course_about_section(course, "end_date")}
                    % else:
                        ${course.end_datetime_text()}
                    % endif
                </span>
            </li>
            % endif

          % if get_course_about_section(course, "effort"):
            <li class="important-dates-item"><i class="icon fa fa-pencil"></i><p class="important-dates-item-title">${_("Estimated Effort")}</p><span class="important-dates-item-text effort">${get_course_about_section(course, "effort")}</span></li>
          % endif

          ##<li class="important-dates-item"><i class="icon fa fa-clock-o"></i><p class="important-dates-item-title">${_('Course Length')}</p><span class="important-dates-item-text course-length">${_('{number} weeks').format(number=15)}</span></li>

          %if course_price and (can_add_course_to_cart or is_cosmetic_price_enabled):
            <li class="important-dates-item">
              <i class="icon fa fa-money"></i>
              <p class="important-dates-item-title">${_("Price")}</p>
              <span class="important-dates-item-text">${course_price}</span>
            </li>
          %endif

          % if pre_requisite_courses:
          <% prc_target = reverse('about_course', args=[unicode(pre_requisite_courses[0]['key'])]) %>
          <li class="prerequisite-course important-dates-item">
            <i class="icon fa fa-list-ul"></i>
            <p class="important-dates-item-title">${_("Prerequisites")}</p>
            ## Multiple pre-requisite courses are not supported on frontend that's why we are pulling first element
            <span class="important-dates-item-text pre-requisite"><a href="${prc_target}">${pre_requisite_courses[0]['display']}</a></span>
            <p class="tip">
            ${_("You must successfully complete {link_start}{prc_display}{link_end} before you begin this course.").format(
              link_start='<a href="{}">'.format(prc_target),
              link_end='</a>',
              prc_display=pre_requisite_courses[0]['display'],
            )}
            </p>
          </li>
          % endif
          % if get_course_about_section(course, "prerequisites"):
            <li class="important-dates-item"><i class="icon fa fa-book"></i><p class="important-dates-item-title">${_("Requirements")}</p><span class="important-dates-item-text prerequisites">${get_course_about_section(course, "prerequisites")}</span></li>
          % endif
        </ol>
-->
      </section>

      ## For now, ocw links are the only thing that goes in additional resources
      % if get_course_about_section(course, "ocw_links"):
      <section class="additional-resources">
        <header>
          <h1>${_("Additional Resources")}</h1>
        </header>

        <section>
          ## "MITOpenCourseware" should *not* be translated
          <h2 class="opencourseware">MITOpenCourseware</h2>
             ${get_course_about_section(course, "ocw_links")}
        </section>
      </section>
      %endif
    </section>

  </section>
  </section>
 
</section>

## Need to put this hidden form on the page so that the registration button works.
## Since it's no harm to display a hidden form, we display it with the most permissive conditional
## which is when the student is not registered.
%if active_reg_button or is_shib_course:
  <div style="display: none;">
    <form id="class_enroll_form" method="post" data-remote="true" action="${reverse('change_enrollment')}">
      <fieldset class="enroll_fieldset">
        <legend class="sr">${_("Enroll")}</legend>
        <input name="course_id" type="hidden" value="${course.id | h}">
        <input name="enrollment_action" type="hidden" value="enroll">
      </fieldset>
      <div class="submit">
        <input name="submit" type="submit" value="${_('enroll')}">
      </div>
    </form>
  </div>
%endif

<%include file="../video_modal.html" />
