/* style - app */ 
.coursewareheader-follow-links a i{font-size: 16px;line-height: 28px;width: 28px;height: 28px;border-radius: 16px;background:#aaa;text-align: center;}
.coursewareheader-follow-links a {font-size: 14px;color: #fff !important;line-height: 44px;display: inline-block;height: 44px;}
.coursewareheader-follow-links{display:inline-block;position:absolute;top:-10px;right:0;}
.coursewareheader-follow-links a span{text-indent:9999px;width:0;height: 0;font-size:0;} 


/* cousrse add */
.wrapper-course-material .course-material {margin: 0 auto !important;max-width: none !important;background: #2faa47;}
.wrapper-course-material .course-tabs{  width: 1180px; margin: 0 auto !important;}
.wrapper-course-material .course-tabs li{float: right !important;}
.wrapper-course-material .course-tabs li a{color:#fff !important}
.course-wrapper section.course-content header{border-bottom:3px solid #2faa47;}

/* 아카데미X */
header.global{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;width: 100%;background: #fff;}
header.global nav{width:1280px !important;max-width:1280px;height:80px;margin:0 auto;position:relative;padding:0;}
header.global nav h1.logo{float:left;margin-top: 8px;/*position:absolute;left:55px;top:15px;*/}
header.global nav h1.logo a{padding:0 !important;margin:0 !important;}
header.global nav h1.logo img{width:151px;  height: auto;  max-width: none;  margin-top: 18px;  margin-left: 22px;}
header.global nav .gnb{float:left;margin-left:850px;padding-top:32px;}
header.global nav .gnb li{float:left;padding-right:40px;}
header.global nav .gnb li a{font-size:16px;display:block;height:20px;font-family: 'NanumBarunGothic';font-weight:400;color:#333333;}
header.global nav .gnb li.on a{color:#2faa47;}
header.global nav .gnb-blobal{overflow:hidden;position:absolute;right:139px;top:34px;}
header.global nav .gnb-blobal li{float:left;font-size:12px;}
header.global nav .gnb-blobal li::after{content:'|';display:block;float:right;color:#ddd;padding-right:10px;padding-left:10px;}
header.global nav .gnb-blobal li a{font-family:'NanumBarunGothic';font-weight:700;color:#999;}
header.global nav .gnb-blobal li:last-child::after{display:none;}
header.global nav .gnb-blobal li.on a{color:#2faa47;}

header.global .nav-global{margin-left: 307px;margin-top: 30px;}



/* footer */
.wrapper-footer{background:#2e2e2e;padding:0;}
.wrapper-footer footer {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;max-width: 1280px;min-width: 760px;width: 1280px !important;margin: 0 auto;}
.wrapper-footer footer .container{max-width:1280px !important;width:1280px !important;background:#2e2e2e !important;padding: 49px 0 74px;height:394px;}
.wrapper-footer footer .container img{padding-bottom:16px;}
.wrapper-footer footer .container p{color:#666666;font-size:14px;line-height:24px;}
.wrapper-footer footer .container ul{list-style:none;}
.wrapper-footer footer .copyright {margin: 32px 0 8px 0;}
.wrapper-footer footer .container a:focus, .wrapper-footer footer .container a:active, .wrapper-footer footer .container a:hover{border-bottom-color:#999;color:#999;}
.wrapper-footer footer .region-footer-columns .region-footer-first {position:relative;width: -moz-calc(50% - 55px);width: -webkit-calc(50% - 55px);width: calc(50% - 55px);margin-left: 55px;float: left;}
.wrapper-footer footer .region-footer-columns .region-footer-first:before{height: -moz-calc(100% + 23px);height: -webkit-calc(100% + 23px);height: calc(100% + 23px);content: '';width: 1px;background: #4a4a4a;position: absolute;top: 0;right: 0;}
.wrapper-footer footer .region-footer-columns .region-footer-second {width: 50%;float: left;}
.wrapper-footer footer .region-footer-columns .region-footer-second nav {position:relative;width:255px;padding-left: 40px;padding-top: 15px;float: left;}
.wrapper-footer footer .region-footer-columns .region-footer-second nav:before {height: -moz-calc(100% + 14px);height: -webkit-calc(100% + 14px);height: calc(100% + 14px);content: '';width: 0.9px;background: #4a4a4a;position: absolute;top: 0;right: 0;}
.wrapper-footer footer .region-footer-columns h2 {color: #666;font-size: 15px;font-family:'NanumBarunGothic';font-weight: 400;border-bottom: none;padding: 0;margin-bottom: 15px;text-transform: capitalize;letter-spacing:-0.2px;}
.wrapper-footer footer .region-footer-columns ul.menu {padding: 0;margin-top: 0;border: none;text-align: left;}
.wrapper-footer footer .region-footer-columns ul.menu li {list-style-image: none;list-style: none;color: #999;font-size: 14px;float: none !important;line-height:34px;}
.wrapper-footer footer .region-footer-columns ul.menu li a,.wrapper-footer footer .region-footer-columns ul.menu li a:hover{color: #999;}
.wrapper-footer footer .region-footer-columns .region-footer-second section.block-menu-social {width: 33%;padding: 0px 15px 15px 40px;margin-top: 15px;float: left !important;}
.wrapper-footer footer .region-footer-columns .footer-follow-links a{font-size:14px;color: #999;line-height:44px;display: block;height:44px;}
.wrapper-footer footer .region-footer-columns .footer-follow-links a:hover{border:none;color:#999;}
.wrapper-footer footer .region-footer-columns .footer-follow-links a i{font-size: 22px;line-height: 44px;width:32px;}
.wrapper-footer footer .region-footer-columns .footer-follow-links a span{color:#999;position: relative;top: -3px;}
.wrapper-footer footer .region-footer-columns ul.clause{padding: 22px 0 0;margin: 0;font-size: 14px;overflow: hidden;}
.wrapper-footer footer .region-footer-columns ul.clause li{float:left;}
.wrapper-footer footer .region-footer-columns ul.clause li::after{content:'|';display:block;float:right;color:#666;padding-right:10px;padding-left:10px;}
.wrapper-footer footer .region-footer-columns ul.clause li:last-child::after{display:none;}
.wrapper-footer footer .region-footer-columns ul.clause li a{color:#999;}
.wrapper-footer footer .region-footer-columns ul.clause li:last-child a,ul.clause li:last-child a:hover{color:#32b04a !important;}

/*로그인 style add*/
.view-login .content-wrapper,.view-register .content-wrapper{padding-top:24px;padding-bottom: 100px;}
.region-column-wrapper{padding-top:24px;}
header.global .nav-courseware{margin-top: 20px;}

 .content .form-actions button[type="submit"],.btn_block{background:#2faa47 !important;box-shadow:none !important;font-family:'NanumBarunGothic' !important;font-weight:400 !important;}
 .content .form-actions button[type="submit"]:hover,.btn_block:hover{background:#28913c !important;}


/*dashboard style add*/
.window-wrap{  width: 100%;  min-width: 1280px;  background: #f4f4f4;}
.container{  max-width: 1280px;  width: 1280px;  padding: 0 50px;  margin: 0 auto 0;  box-sizing: border-box;}
.dashboard {  padding: 0;  width: 1120px;  margin: 25px 30px 60px;  overflow: hidden;  background: #fff;}
.dashboard .profile-sidebar{margin-left:0 !important}
.dashboard .profile-sidebar .profile{border:none;}
.dashboard .my-courses .listing-courses .course-item{border-bottom:none;}
.dashboard .profile-sidebar .user-info>ul{border:none}
.view-dashboard header.global .nav-global{margin-left: 0px;}/*dashboard : Find courses */
.dashboard .my-courses .wrapper-header-courses{border:none;}

header.global .primary>a{border:none;}/*dashboard : staff/help/log out */

/*about*/

.course-info .course-sidebar>section{box-shadow: none; border: none;}
.btn_block{background:#32b04a;color:#fff;width:100%;  padding: 15px 20px;display: inline-block;text-align: center !important;border:none;}
.btn_block:active,.btn_block:hover{background:none repeat scroll 0 0 #289137 !important;}

.container #main-content{background: none repeat scroll 0 0 white;padding: 15px;}
.course-detail-overview {background-color: #f4f4f4;padding: 10px;}

