body{margin:0;background:#fff;}
ul,ol,dl,dt,dd{margin:0;padding:0;list-style:none;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
p{margin:0;padding:0;}
div,ul,li,p,span,dl,dt,dd,a,em,address{font-family:'NanumBarunGothic';color:#333;}
li{list-style:none;}
a{text-decoration:none;}
em,address{font-style:normal;}
/*.wrap{width:1280px;margin:0 auto;}*/
.xheader{overflow:hidden;height:80px;position:relative;}
.xheader h1{float:left;position:absolute;left:55px;top:27px;}
.xheader .gnb{float:left;margin-left:760px;padding-top:30px;}
.xheader .gnb li{float:left;padding-right:40px;}
.xheader .gnb li a{font-size:15px;display:block;height:20px;}
.xheader .global{overflow:hidden;position:absolute;right:55px;top:32px;}
.xheader .global li{float:left;font-size:12px;}
.xheader .global li::after{content:'|';display:block;float:right;color:#ddd;padding-right:10px;padding-left:10px;}
.xheader .global li a{font-family:'NanumBarunGothic';font-weight:700;color:#999;}
.xheader .global li:last-child::after{display:none;}
.main-visual{position:relative;background:#f4f4f4 url(/static/themes/default/images/img_mainvisual.jpg) no-repeat;width:1280px;height:520px;padding-bottom:80px;margin:0 auto;}
.main-visual p:first-child{position:absolute;left:120px;top:83px;font-size:48px;font-family:'NanumBarunGothic';font-weight:200;color:#fff !important;line-height:63px;letter-spacing:-0.8px;}
.main-visual p:nth-child(2){position:absolute;left:120px;top:230px;font-size:16px;font-family:'NanumBarunGothic';color:#fff !important;line-height:26px;letter-spacing:-0.2px;margin:0;}
.main-visual span{position:absolute;left:120px;top:368px;font-size:18px;border:2px solid #fff;width:178px;height:44px;border-radius:3px;text-align:center;
		-webkit-border-radius:3px;/* 크롬, 사파리*/
		-moz-border-radius:3px;/*파이어폭스*/
		-ms-border-radius:3px;/*IE*/
		-o-border-radius:3px;}
.main-visual span a{color:#fff !important;display:block;padding:13px 55px 13px 37px;position:relative;}
.main-visual span a::after{display:block;position:absolute;top:17px;right:39px;width:7px;height:11px;background:url(/static/themes/default/images/ico_more.png) no-repeat 0 0;content:'';}
.main-visual span:hover{position:absolute;left:120px;top:368px;background-color:#fff;font-size:18px;width:178px;height:44px;border-radius:3px;text-align:center;
		-webkit-border-radius:3px;/* 크롬, 사파리*/
		-moz-border-radius:3px;/*파이어폭스*/
		-ms-border-radius:3px;/*IE*/
		-o-border-radius:3px;}
.main-visual span:hover a{color:#2faa47 !important;display:block;padding:13px 55px 13px 37px;position:relative;}
.main-visual span:hover a::after{display:block;position:absolute;top:17px;right:39px;width:7px;height:11px;background:url(/static/themes/default/images/ico_more.png) no-repeat 0 0;content:'';background-position: 0 -11px;}
.sub-con{width:1170px;padding:0 55px 55px;background:#f4f4f4;margin:0 auto;}
.sub-con dl dt{height:36px;background:url(/static/themes/default/images/bg_h2.png) left 17px repeat-x;width:100%;text-align:center;}
.sub-con dl dt h2{display:inline-block;padding:0 18px;background:#f4f4f4;font-size:36px;font-family:'NanumBarunGothic';font-weight:200;}
.sub-con dl dd:nth-child(2){padding-top:26px;padding-bottom:49px;font-size:16px;color:#666;text-align:center;}
.sub-con dl dd:nth-child(2) a{color:#32b04a;}
.sub-con .professor-list{position:relative;width:1184px;height:300px;margin-bottom:50px;left:-8px;}
.sub-con .professor-list > div ul{overflow:hidden;}
.sub-con .professor-list > div li{float:left;position:relative;width:592px;height:300px;}
.sub-con .professor-list > div li .xcover{background:#fff;margin:0 7px;width:578px;height:300px;}
.sub-con .professor-list > div li a{display:block;position:absolute;left:0;top:0;width:547px;height:267px;z-index:11;padding-top:33px;padding-left:38px;}
.sub-con .professor-list > div li:hover:after{position:absolute;right:0;top:0;content:'';display:block;border-bottom:325px solid #31b24a;border-left:365px solid transparent;border-right:0 solid transparent;height: 0;width:40px;transition: all 0.25s ease-in-out;z-index:0;}
.sub-con .professor-list > div li a em{display:block;font-family:'NanumBarunGothic';font-weight:300;font-size:30px;line-height:40px;letter-spacing:-0.4px;padding-bottom:20px;word-wrap:break-word;}
.sub-con .professor-list > div li a span{display:block;line-height:22px;font-size:14px;color:#666;padding-left:3px;letter-spacing:-0.2px;}
.sub-con .professor-list > div li a span:last-child{color:#32b04a;}
.sub-con .professor-list > div li img{position:absolute;right:7px;bottom:0;z-index:10;max-width:300px;height:auto;}
.sub-con .class-list ul{overflow:hidden;}
.sub-con .class-list li{float:left;position:relative;background:#fff;width:280px;height:410px;margin-right:15px;}
.sub-con .class-list li:hover:after{position:absolute;right:0;bottom:0;content:'';display:block;border-bottom:300px solid #31b24a;border-left:280px solid transparent;border-right:0 solid transparent;height: 0;width:0;transition: all 0.25s ease-in-out;z-index:0;}
.sub-con .class-list li:nth-child(4n){margin-right:0;}
.sub-con .class-list li a{display:block;position:absolute;left:0;top:0;width:215px;height:319px;z-index:11;padding-top:21px;padding-left:25px;}
.sub-con .class-list li a em{display:block;font-family:'NanumBarunGothic';font-weight:200;font-size:20px;line-height:28px;letter-spacing:-0.2px;padding-bottom:11px;}
.sub-con .class-list li a span{display:block;line-height:18px;font-size:12px;color:#666;padding-left:3px;letter-spacing:-0.2px;}
.sub-con .class-list li a span:last-child{color:#32b04a;}
.sub-con .class-list li img{position:absolute;right:0;bottom:0;z-index:10;max-width:220px;height:auto;}
/*.sub-con.v2{padding-top:70px;background:#fff;}*/
.sub-con.v2{padding:70px 0 55px;background:#fff;width:100%;}
.sub-con.v2 .academyxIntro{width:1170px;margin:0 auto;}
.sub-con.v2 dl dt h2{background:#fff;}
.sub-con .introduce-list ul{overflow:hidden;margin:0 75px}
.sub-con .introduce-list li{float:left;width:229px;height:245px;padding:0 13px;background:url(/static/themes/default/images/ico_introduce01.png) center 6px no-repeat;}
.sub-con .introduce-list li:nth-child(2){background:url(/static/themes/default/images/ico_introduce02.png) center 12px no-repeat;}
.sub-con .introduce-list li:nth-child(3){background:url(/static/themes/default/images/ico_introduce03.png) center 12px no-repeat;}
.sub-con .introduce-list li:last-child{margin-right:0;background:url(/static/themes/default/images/ico_introduce04.png) center 12px no-repeat;}
.sub-con .introduce-list li dt{background:none;font-size:20px;height:22px;text-align:left;padding-top:144px;padding-bottom:13px;}
.sub-con .introduce-list li dd{font-size:13px;line-height:22px;color:#666;padding:0;text-align:left;letter-spacing: -0.2px;}
.sub-con.v3{padding-top:70px;padding-bottom:20px;}
.sub-con.v3 dd:last-child{text-align:center;}
.sub-con.v3 dd span{display:inline-block;width:255px;height:105px;text-align:center;}

.xfooter{position:relative;height:176px;background:#2e2e2e;color:#666;font-family:'NanumBarunGothic';font-weight:700;font-size:11px;}
.xfooter em{position:absolute;left:90px;top:42px;}
.xfooter ul{overflow:hidden;padding-left:330px;padding-top:40px;padding-bottom:14px;}
.xfooter ul li{float:left;}
.xfooter ul li::after{content:'|';display:block;float:right;color:#474747;padding-right:10px;padding-left:10px;}
.xfooter ul li:last-child::after{display:none;}
.xfooter ul li a{color:#aaa;}
.xfooter ul li:last-child a{color:#32b04a;}
.xfooter address{padding-left:330px;}
.xfooter address span{display:block;color:#666;font-family:'NanumBarunGothic';font-weight:700;line-height:18px;}
.xfooter address span em{position:inherit;color:#aaa;}
.xfooter address span em::after{content:'|';display:inline-block;color:#474747;padding-right:10px;padding-left:10px;}
.xsns{position:absolute;right:91px;top:42px;}
.xsns a{margin-left:7px;}

.pagination {position: absolute;left: 0;text-align: center;bottom:-45px;width: 100%;}
.swiper-pagination-switch {display: inline-block;width: 12px;height: 12px;border-radius: 12px;background: #fff;margin: 0 4px;cursor: pointer;}
.swiper-active-switch {background: #32b04a;}
.swiper-slide .title {font-style: italic;font-size: 42px;margin-top: 80px;margin-bottom: 0;line-height: 45px;}
.swiper-container {height: 300px;}
.professor-list .arrow-left {background: url(/static/themes/default/images/btns-next-prev.png) no-repeat left top;position: absolute;left: -30px;top: 50%;margin-top: -15px;width: 18px;height: 34px;text-indent: -9999px;}
.professor-list .arrow-right {background: url(/static/themes/default/images/btns-next-prev.png) no-repeat right bottom;background-position: -18px 0;position: absolute;right: -30px;top: 50%;margin-top: -15px;width: 18px;height: 34px;text-indent: -9999px;}
.dis_none{display:none !important;}
