## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>
<!--
<div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="${reverse('tos')}">Terms of Service</a></li>
          <li><a href="${reverse('tos')}#privacy">Privacy Policy</a></li>
          <li><a href="${reverse('tos')}#honor">Honor Code</a></li>
          <li><a href="${reverse('tos')}#copyright">Copyright</a></li>
          <li><a href="${reverse('about')}#careers">Careers</a></li>
          <li><a href="${reverse('about')}#contact">Contact</a></li>
          <li><a href="${marketing_link('FAQ')}">Help</a></li>
        </ol>
      </nav>
    </div>
    <div class="references">
      <span>Built on <a href="http://code.edx.org">OpenEdX</a>.</span>
    </div>
  </footer>
</div>
-->
<div class="wrapper wrapper-footer">
	<footer id="footer" class="clearfix region-footer" role="contentinfo" aria-label="Footer">
		<div class="region-footer-columns region-container container">
			<div class="region-container-inner">
				<!-- regions: Footer first and Footer second -->
				<div class="region region-footer-first">
					<div class="region-inner clearfix">
						<div class="region-container-inner">
							<div id="block-block-4" class="block block-block block-disclosure copy-detail no-title" >
								<p><img alt="AcademyX" src="/static/themes/default/images/logo.png" /><br />아시아 최고의 기업가정신 교육을 무료로,<br />아카데미X는 국내 최고의 실무 경험을 지닌 교수진과 <br />한국의 스타트업 생태계를 이끌어가는 전문 기업이 모여서 만든 교육 플랫폼으로, <br />기술혁신과 기업가정신 교육을 온라인으로 무료로 제공하고 오프라인 교육을 유료로 <br />제공하는 회사입니다</p>
								<p class="copyright">© AcademyX.Inc.</p>

								<ul class="clause">
								<li><a href="#">이용약관</a></li>
								<li><a href="#">법적고지</a></li>
								<li><a href="#">개인정보처리방침</a></li>
								<li><a href="#">환불규정</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="region region-footer-second">
					<nav id="block-menu-block-7" class="block block-menu-block"  aria-label="About Us" role="navigation">  
						<h2 class="block-title">아카데미X에 대해서</h2>
						<div class="menu-block-wrapper menu-block-7 menu-name-menu-about-company-in-footer parent-mlid-0 menu-level-1">
							<ul class="menu clearfix">
							<li class="first leaf menu-mlid-11301 menu-depth-1 menu-item-11301"><a href="/about-us">비전과 목표</a></li>
							<li class="leaf menu-mlid-11306 menu-depth-1 menu-item-11306"><a href="/news-announcements">공지사항</a></li>
							<li class="leaf menu-mlid-11311 menu-depth-1 menu-item-11311"><a href="/contact-us">교수 참가</a></li>
							<li class="leaf menu-mlid-11316 menu-depth-1 menu-item-11316"><a href="/about/student-faq">파트너 참가</a></li>
							<li class="leaf menu-mlid-11321 menu-depth-1 menu-item-11321"><a href="/edx-blog">연락처</a></li>
							<li class="leaf menu-mlid-11326 menu-depth-1 menu-item-11326"><a href="/donate">질문과답</a></li>
							<li class="leaf menu-mlid-11331 menu-depth-1 menu-item-11331"><a href="/jobs">채용</a></li>
							</ul>
						</div>
					</nav>
					<section id="block-block-46" class="block block-block nav block-menu-social" >  
						<h2 class="block-title">Follow US</h2>

						<div class="footer-follow-links">
							<a href="https://twitter.com/edXOnline">
								<i class="fa fa-twitter" aria-hidden="true"></i>
								<span class="copy">Twitter</span>
							</a>
							<a href="http://www.facebook.com/EdxOnline">
								<i class="fa fa-facebook" aria-hidden="true"></i>
								<span class="copy">Facebook</span>
							</a>
							<a href="https://plus.google.com/+edXOnline" rel="publisher">
								<i class="fa fa-google-plus" aria-hidden="true"></i>
								<span class="copy">Google+</span>
							</a>
							<a href="https://www.youtube.com/user/edxonline?sub_confirmation=1">
								<i class="fa fa-youtube" aria-hidden="true"></i>
								<span class="copy">Youtube</span>
							</a>
						</div>
					</section>
				</div>
			</div>
		</div>
	</footer>
</div>
